{%- extends "base.html" %}
{%- import 'macros/particles.html' as macros_particles %}

{%- block head %}
{{ super() }}
{{- macros_seo::seo(config=config, title="Home") }}
{%- endblock head %}

{%- block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ get_url(path='/homepage.css', trailing_slash=false, cachebust=true) }}" />
<link rel="stylesheet" href="{{ get_url(path='/mytimeline.css', trailing_slash=false, cachebust=true) }}" />
{%- endblock stylesheets %}

{%- block content %}
{%- set page_data = section.extra %}

{# splash #}

{{- macros_particles::particles_dom(style="position: fixed; inset: 0; z-index: -10;") }}
<div class="splash">
  {% set profile_picture = resize_image(path=page_data.profile_picture, width=150, height=150, op="fill", format="webp") %}
  <img class="profile-picture" src="/assets/images/profilee2.jpg" alt="Profile image of Parnian La'li" />
  <h1>{{ page_data.name }}</h1>
  <h2>{{ page_data.subtitle }}</h2>
  <div class="socials">
    {% for social in page_data.socials %}
    <div class="has-tooltip">
      <a href="{{ social.link | default(value='') }}" target="_blank" rel="noopener" data-umami-event="{{ social.name }}-social-hero">
        {{ load_data(path=social.icon) | safe }}
      </a>
      <span class="tooltip" tip-position="bottom">{{ social.label }}</span>
    </div>
    {% endfor %}
  </div>
</div>

<div class="section" id="about-me" style="font-family: sans-serif; font-size: 20px;">
  <div class="container">
    {{ page_data.about_me | striptags | markdown(inline=false) | safe }}
  </div>
</div>

{# Top projects #}

<div class="section-title" id="portfolio">
  <h2>Top projects</h2>
</div>

<div class="section">
  <div class="container">
    
    <div class="timeline">
      {% for entry in page_data.timeline | reverse %}
        <div class="timeline-element">
          <span class="timeline-element-icon" style="background-color: {{ entry.background }}; color: {{ entry.foreground }};">
            {{ load_data(path=entry.icon) | safe }}
          </span>
          <div class="timeline-element-content">
            <h4>{{ entry.title }}</h4>
            {% if entry.subtitle %}
            <h5>{{ entry.subtitle }}</h5>
            {% endif %}
            <div>
              {{ entry.content | striptags | markdown(inline=false) | safe }}
            </div>
            <span class="timeline-element-date">{{ entry.date }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include "mytimeline.html" %}




{% endblock content %}

{% block scripts %}
{{ super() }}
{{- macros_particles::particles_script() }}
{% endblock scripts %}
