{# Education Timeline Section #}

  <h1 style="text-align: center;">activities</h1>

</div>

<div class="section">
  <div class="container">
    <!-- The Timeline -->
    <ul class="mytimeline">
      <!-- Item 1 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Preparing to Enter the AI Field</span>
            <span class="time-wrapper"><span class="time">2024 - now</span></span>
          </div>
          <div class="desc">- Teaching Assistant<br>- Research: conducting studies on multi-agent reinforcement learning (MARL).<br>- Skills Development: enhancing expertise in AI algorithms and programming.</div>
        </div>
      </li>
      
      <!-- Item 2 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">Isfahan University of technology</span>
            <span class="time-wrapper"><span class="time">2-19 - 2024</span></span>
          </div>
          <div class="desc">B.Sc. Student of: <br>- Physics (major) <br>- Electrical Engineering (minor) </div>
        </div>
      </li>


    </ul>
  </div>
</div>